<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
        <link rel="stylesheet" text=text/css href="static/styles/login.css">
        <title>A-Level Computing Trilogy: The Game</title>
    </head>

    <body>
        <h1 style="font-size:48px;">Welcome to</h1>
        <h1 style="font-size:60px;">
            A-LEVEL COMPUTING TRILOGY<br>
            THE GAME
        </h1>
        <br>
        <h1 style="font-size:24px;">To get started, please login using your Gmail account.</h1>
        <br>
        <a href="/login"><img class="button" src="/static/images/google_sign.png" alt="Google-login"></a>
    </body>