<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
		<link rel="stylesheet" text=text/css href="static/styles/start.css">
		<script type="text/javascript" src="static/scripts/adventure.js"></script>
        <title>A-Level Computing Trilogy: The Game</title>
    </head>
    
    <body>
        <div class="header">
            <a href="/">
                <h1 class="headerhead">A-LEVEL COMPUTING TRILOGY: THE GAME</h1>
            </a>
            <div style="float:right;">
                <a href="/profile" style="text-decoration:none;">
                    <h1 class="box">
                        {{ username }}<br>
                        {{ user_score }}
                    </h1>
                </a>
                <a href="/logout" class="logout">Log out</a>
            </div>
        </div>

        <div class="about">
            <h1 style="font-size:48px;">Welcome to the Adventure RPG game!</h1>
            <h1 style="font-size:32px;">The King of Paradis island has been captured by monsters and they need your help to save him! Select a class and fight your way to save the King!</h1>
        </div>

        <div style="width:100%;">
            <a href="/adventure">
                <h1 class="b">Tank</h1>
            </a>
            <a href="/adventure">
                <h1 class="b">Warrior</h1>
            </a>
            <a href="/adventure">
                <h1 class="b">Wizard</h1>
            </a>
        </div>
    </body>

</html>