body {
    background-color: orange;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Exo 2';
}

.header {
    width: 100%;
    padding-top: 20px;
}

.headerhead {
    font-size: 60px;
    float: left;
    text-decoration: none;
    color: white;
}

.box {
    margin-top: 10px;
    font-size: 24px;
    border: 3px solid white;
    padding: 10px 32px;
    border-radius: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
}

.box:hover {
    background-color: white;
    color: orange;
}

.logout {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-left: 40px;
}

.about {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.b {
    display: inline-block;
    position: relative;
    float: left;
    margin: 2%;
    width: 29%;
    height: 600px;
    background-color: white;
    color: orange;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    border-radius: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.b:hover {
    height: 620px;
    width: 31%;
    margin: 1%;
}